.pio/
.vscode/
.DS_Store
# deps
node_modules/

# Editor / language server caches
.cache/
compile_commands.json


# =========================
# KiCad
# =========================

# KiCad lock files
*.lck

# KiCad backup files
*.bak
KiCad/BardsAssistant/BardsAssistant-backups/

# Temporary/backup files
~*
*.tmp